

<div>
  <nav class="navbar navbar-expand-lg" id="navbar_color">

    
    <i class="material-icons" id="icon">
      shopping cart</i>
    <h3 class="title">Corporate classifieds</h3>
    <div class="photo ml-auto">
      <p class="items">name</p>
      <i class="material-icons image">person</i>
    </div>
  </nav>
  
</div>

<div class="body">
  <div class="adjust-width">
    <ul id="nav_list" class="nav flex-column navigation">
      <li ><i class="material-icons icons">shopping basket</i></li>
      <li  [routerLink]=''>Classifieds</li>
      <li ><i class="material-icons icons">shopping basket</i></li>
      <li  [routerLink]="['/myclassifieds']">My classifieds</li>
      <li ><i class="material-icons icons">mail</i></li>
      <li class="new"  [routerLink]="['/inbox']">Inbox</li>
      <li ><i class="material-icons icons">people</i></li>
      <li class="new" [routerLink]="['/admin']">Admin</li>

    </ul>
  </div>
  <div >
    <router-outlet></router-outlet>
  </div>
</div>
   


