

<div class="whole">
  <div class="blurry">
    <i class="material-icons" id="icon">
      shopping cart
    </i>
  </div>
    <div class="container-fluid p-0">
      <ul class="navbar navbar-reverse container-fluid" id="navbar_color">
        <li>
          <h3 class="title">Corporate classifieds</h3>
        </li>
        <li>
          <div class="photo ml-auto">
            <p class="items">name</p>
            <i class="material-icons image img-circle">person</i>
          </div>
        </li>
      </ul>
    </div>
 
</div>

<div class="body">
  <div class="adjust-width">
    <ul id="nav_list" class="nav flex-column navigation">
      <li ><i class="material-icons icons">shopping basket</i></li>
      <li  [routerLink]=''>Classifieds</li>
      <li ><i class="material-icons icons">shopping basket</i></li>
      <li  [routerLink]="['/myclassifieds']">My classifieds</li>
      <li ><i class="material-icons icons">mail</i></li>
      <li class="new"  [routerLink]="['/inbox']">Inbox</li>
      <li ><i class="material-icons icons">people</i></li>
      <li class="new" [routerLink]="['/admin']">Admin</li>

    </ul>
  </div>
  <div >
    <router-outlet></router-outlet>
  </div>
</div>
   


